@import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');


/*----------------------------------*/
/*------------Variables------------*/
/*----------------------------------*/
/*COLORS*/
$font-main: #f4f4f4;
$font-secondary: #333;

$transition: .3s;

/*Mobile Reset*/
* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
}

:root {
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  --text-primary: #f4f4f4;
  --text-secondary: rgba(255, 255, 255, 0.66);
}

html {
  box-sizing: border-box;
  color: $font-secondary;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/*----------------------------------*/
/*------------MAIN HEADER-----------*/
/*----------------------------------*/
.search{
  background-color: transparent;
  transition: .4s;
}
.video-bg {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0.03));
  overflow: hidden;

  color: var(--text-primary);

  video {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .nav-main {
      display: flex;
      padding: 3rem;
      justify-content: space-between;
      align-items: center;
      position: relative;

      &:after {
        content: "";
        width: 94%;
        height: .5px;
        background-color: rgba(255, 255, 255, 0.29);
        position: absolute;
        bottom: 30px;

      }

      .search {
        font-size: 1.3rem;
        display: flex;
        align-items: center;
        transition: .4s;

        ion-icon {
          font-size: 1.6rem;
        }


        input::placeholder {
          color: inherit;
        }

        input {
          background-color: transparent;
          border: none;
          color: inherit;
          margin-left: .4rem;
        }
      }

      .hamburger {
        display: none;
        margin: 0;
        padding: 24px;
        width: 10px;
        height: 10px;
        //background-color: rgba(255, 255, 255, 0.64);
        border-radius: 50%;
      }
    }

    .logo {
      font-size: 4rem;

      a:hover ion-icon {
        color: var(--text-secondary);
      }
    }

    ul {
      display: flex;
      list-style: none;
      justify-content: space-evenly;
      align-items: center;

      li:not(:first-child) {
        margin-left: 1.4rem;
      }

      li:last-child {
        border: 1px solid var(--text-primary);
        padding: .4rem 1.2rem;
        border-radius: 100px;
      }
    }

    .main-title {
      text-align: center;
      margin-top: -10%;

      h1 {
        font-size: 4rem;
        font-weight: bold;
        margin-bottom: 5px;
        letter-spacing: 4px;
        text-transform: uppercase;
      }

      p {
        font-weight: 300;
        letter-spacing: .4px;
      }
    }

    button {
      width: 4rem;
      height: 4rem;
      background-color: transparent;
      border: none;
      align-self: center;
      margin-bottom: 100px;

      ion-icon {
        font-size: 4rem;
        color: var(--text-primary);
      }


      &:hover ion-icon {
        color: var(--text-secondary);
      }
    }
  }
}


/*----------------------------------*/
/*------------REUSABLE-------------*/
/*----------------------------------*/

.container {
  width: 90%;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--text-secondary);
}

button {
  background: none;
  text-decoration: none;
  border: 0;
  padding: 0;
  transition: background-color $transition ease-out;

}

button:hover {
  background-color: #5291c1;
}

.btn {
  background: #297CBB;
  border-radius: 100px;
  text-decoration: none;
  padding: .8rem 1.6rem;
  color: $font-main;
  text-transform: uppercase;
  display: flex;
  align-items: center;

  ion-icon {
    margin-left: 8px;
  }
}

section {

}

img {
  object-fit: cover;
}

figure {
  overflow: hidden;
}

/*-----------FIND OUT-----------*/

.find-out {
  background-color: #F0F6F9;
  display: flex;
  justify-content: center;
  padding: 2rem;
  font-size: 1.1rem;
  font-weight: 300;
  align-items: center;
}

.btn-find-out {
  margin-left: 1rem;
}

/*----------------------------------*/
/*------------Paragraph-------------*/
/*----------------------------------*/

section.info {
  display: flex;
  flex-direction: column;
  align-items: center;

  .social {
    ion-icon {
      transition: background-color $transition ease-out,
      color .2s ease-out;
    }

    a:hover ion-icon,
    a:active ion-icon {
      background-color: rgba(236, 236, 236, 0.78);
      color: rgba(146, 151, 157, 0.76);
    }

    ion-icon {
      background-color: #ECECEC;
      margin: 2rem 0;
      padding: .8rem;
      color: #707377;

      border-radius: 50%;
    }

    a:not(:last-child) {
      margin-right: 1.2rem;
    }
  }

  .paragraph {
    width: 90%;
    text-align: center;
    line-height: 140%;
    font-size: 1.4rem;
    font-weight: 200;

    p:not(:first-child) {
      margin-top: 1rem;
    }
  }

  .gallery {
    .container {
      margin-top: 2rem;
      display: flex;
      justify-content: center;


      figure {
        width: 25%;
        height: 70vh;
        position: relative;
        background: rgb(0, 0, 0);


        &:not(:last-child) {
          margin-right: 2px;
        }

        &:hover img {
          transform: scale(1);
        }

        img {
          width: 100%;
          height: 100%;
          opacity: .85;
          transform: scale(1.2);
          transition: transform .6s ease-out;
        }

        figcaption {
          position: absolute;
          bottom: 10px;
          left: 0;
          color: $font-main;
          text-align: center;
          width: 100%;

          h4 {
            font-size: 2rem;
          }

        }
      }
    }


  }
}

/*----------------------------------*/
/*------------TRAVEL WELL-----------*/
/*----------------------------------*/

section.travel-well {
  height: 80vh;
  background-size: cover;
  background: url("https://source.unsplash.com/VowIFDxogG4/1920x1080") no-repeat fixed left bottom;


  .gradient {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6));
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: $font-main;

    h2 {
      font-size: 4rem;
      letter-spacing: 1px;
    }

    p {
      font-size: 1.2rem;
      line-height: 140%;
      width: 60%;
      text-align: center;
    }
  }
}


/*----------------------------------*/
/*------------TRAVEL WELL-----------*/
/*----------------------------------*/


footer {
  margin-top: 5rem;
  margin-bottom: 2rem;

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 0 1rem;
    line-height: 140%;
    font-weight: 300;


    ul {
      list-style: none;
    }

    li:first-child,
    #subs {
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 1.8rem;
    }

    #subs {
      display: block;
      margin-bottom: 2rem;
    }

    a {
      transition: color .4s ease-out;
    }

    li:not(:first-child) {
      a {
        color: rgba(112, 115, 119, 0.58);
      }

      a:hover,
      a:active {
        color: black;
      }
    }

    li:first-child,
    #subs {
      a:hover,
      a:active {
        color: rgba(112, 115, 119, 0.58);
      }
    }

    .column:last-of-type {
      font-size: .8rem;

      #subs {
        font-size: 1rem;
      }

      input,
      select {
        width: 100%;
        padding: .5rem;
        margin-top: .4rem;
      }

      button {
        margin-top: .5rem;
      }
    }

  }
}


/*----------------------------------*/
/*------------MEDIA QUERY-----------*/
/*----------------------------------*/

@media only screen and (max-width: 600px) {
  header {
    position: relative;

    .container {
      width: 98%;
    }

    .video-bg {
      .container {
        .nav-main {
          padding: .2rem .6rem 2rem .6rem;
        }
      }
    }

    .nav-main {

      #search {
        position: absolute;
        display: none;
      }
    }

    .hamburger {
      position: relative;
      display: flex;
      justify-content: flex-end;

      span,
      span:before,
      span:after {
        position: absolute;
        top: 50%;
        margin-top: -1px;
        left: 50%;
        margin-left: -12px;
        z-index: 6;
        background-color: rgba(255, 255, 255, 0.94);
        width: 24px;
        height: 2px;
      }

      span:before,
      span:after {
        content: "";
        transition: transform .4s;
      }

      span:before {
        transform: translate(0, -8px);
      }

      span:after {
        transform: translate(0, 8px);
      }
    }

    #nav-list {
      height: 100vh;
      width: 70vw;
      position: absolute;
      right: -20px;
      top: 0;
      flex-direction: column;
      background-color: rgba(0, 0, 0, 0.85);
      justify-content: space-around;
      align-items: center;
      padding-top: 1rem;
      padding-bottom: 30vh;
      font-size: 1.4rem;
      font-weight: 600;
      letter-spacing: 1px;
      z-index: 4;
      transform: translateX(100%);
      transition: transform .2s;

      &:after {
        margin-top: 2rem;
      }
    }

    /*----ANIMATION-----*/
    .on #nav-list {
      transition: transform .4s;
      transform: translateX(0%);
    }
    .arrow{
      padding: 10px;
      z-index: 10;
    }
    .arrow span:before {
      transform: translateY(8px);
      transform-origin: center;
    }

    .arrow span:after {
      transform: translateY(-8px);
      transform-origin: center;
    }

    .search__active{
      width: calc(100vw + 8px);
      height: 100vh;
      position: absolute;
      top: 0;
      left: -8px;
      background-color: rgba(0, 0, 0, 0.85);
      z-index: 7;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      text-align: center;
      transition: .4s;

      label{
        position: relative;
        display: block;
        margin-top: 4rem;
      }

      #search{
        display: block;
        margin-top: 6.5rem;

      }

    }
  }

  .find-out {
    flex-direction: column;

    .btn {
      margin-top: 1rem;
    }
  }


  footer {
    .container {
      grid-template-columns: 1fr;

      .column {
        text-align: center;

        li:first-child,
        #subs {
          margin-top: 1.4rem;
          margin-bottom: .4rem;
        }
      }
    }
  }
  footer .container .column:last-of-type{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 1020px) and (min-width: 600px) {

  .video-bg .container .nav-main .search {
    display: none;
  }
  header{
    .container{
      width: 95%;
    }
  }
  .video-bg .container .nav-main{
    padding-left: .6rem;
    padding-right: .6rem;
  }
}

/*fix gallery*/
@media only screen and (max-width: 900px) {
  section.info .gallery {

    width: 100%;

    .container {
      display: grid;
      grid-template-columns: repeat(2, 50%);
      grid-gap: 1rem;


      figure {
        width: 100%;
        height: 40vh;
      }
    }
  }
}





